@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base-100: 255 255 255;
  --color-base-200: 250 250 250;
  --color-base-300: 255 240 236;
  --color-base-content: 36 45 82;

  --color-primary: 243 96 60;
  --color-primary-200: 243 60 60;
  --color-primary-focus: 249 143 117;
  --color-primary-content: 255 255 255;
  --color-secondary: 36 45 82;
  --color-secondary-200: 29 30 37;
  --color-secondary-content: 255 255 255;
}
/* Currently same as light but just for case if dark mode is implemented */
:root[class~="dark"] {
  --color-base-100: 255 255 255;
  --color-base-200: 250 250 250;
  --color-base-300: 255 240 236;
  --color-base-content: 36 45 82;

  --color-primary: 243 96 60;
  --color-primary-200: 243 60 60;
  --color-primary-focus: 249 143 117;
  --color-primary-content: 255 255 255;
  --color-secondary: 36 45 82;
  --color-secondary-200: 29 30 37;
  --color-secondary-content: 255 255 255;
}
@layer components {
  .mobile-padding-x {
    @apply px-[24px];
  }
  .flex-col-center {
    @apply flex flex-col items-center;
  }
  .container-wide {
    @apply w-full max-w-[1110px] mx-auto;
  }
  .social-icon {
    @apply group-hover:fill-primary-focus fill-base-100 transition-all duration-300;
  }
  .transition-universal {
    @apply transition-all duration-300;
  }
  .hover-primary {
    @apply hover:fill-primary hover:text-primary transition-all duration-300;
  }
}
@layer utilities {
  .primary-gradient {
    @apply bg-gradient-to-br from-primary to-primary-200;
  }
  .primary-gradient-hover {
    @apply bg-gradient-to-br from-primary/40 to-primary-200/40;
  }
  .test-border {
    @apply border-[1px] border-red-500;
  }
}
.backdrop-shadow {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.33%,
    rgba(0, 0, 0, 0.6) 99.79%
  );
}
.modal-shadow {
  box-shadow: 0px 10px 20px 0px rgba(80, 86, 98, 0.03);
}
